Django==5.2.9
channels==4.3.2
channels_redis==4.3.0
daphne==4.2.1
google-genai==1.56.0
google-adk==1.21.0
PyJWT==2.10.1
python-multipart==0.0.21
redis==7.1.0
pydub==0.25.1
websockets==15.0.1
gunicorn==23.0.0
